In [8]:
import os
os.environ["SPARK_HOME"] = "C:\spark"

In [9]:
import findspark
findspark.init()

In [10]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [13]:
spark

In [14]:
data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

In [15]:
df = spark.createDataFrame(data, colNames)

In [16]:
df

DataFrame[Nome: string, Idade: string]

In [18]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

In [19]:
df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29